.cars{
    background-color: cadetblue;
    padding: 20px;
    margin: 20px;
    text-align: center;

}
.fruits{
    background-color: orange;
    padding: 15px;
    margin: 15px;
}
#wanafunzi{
    text-align: center;
    background-color: chartreuse;
}

